@media only screen and (max-width: 850px)
{
    .nav-list{
        margin-top: 45px;
        flex-direction: column;
        transition: 0.3s ease;
    }
    
    .navbar-resp{
        flex-direction: column;
        height: 218px;
        transition: 0.5s ease;
    }
    .rightNav{
        width:30%;
        margin: auto ;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 5%;
        top: 14px;
    }
    .nav-list li {
        
        padding: 10px;
    }
    .nav-list li a:hover{
        background-color: none;
        border: 2px solid white;
        border-radius: 2px;
        padding: 5px;
    }
    #search{
        width: 100%;
        margin: 2px 9px 0px -4px;
        padding: 0px 0px 0px 10px;
    }
    .btn-sm{
        padding: 1px 1px 3px 1px;
        font-size: 6px;
    }
    .burger{
        display: inline-block;
    }
    .burger:hover{
        width: 33px;
        padding: 1px ;
        border: 1px solid white;
        border-radius: 2px;
        background: none;
    }
    .h-nav-resp{
        height: 54px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    
    .logo .a-logo {
        position: absolute;
        top: -1px;
    }
    .logo .H{
        margin: 6px 2px;
        border: 1px solid white;
    }
    /* .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    } */
}
